{% extends 'carriercompany/base.html' %}
{% load static %} 

{% block admin_title %}Изменить пароль{% endblock admin_title %}

{% block content %}

<div class="content-wrapper">

    <!-- Content -->
    
      <div class="container-xxl flex-grow-1 col-md-6 container-p-y">

<div class="card">
    <div class="card-body">
      <!-- Logo -->
      <!-- /Logo -->
      <h4 class="mb-2">Change</h4>
      <p class="mb-4">Please enter a new password!</p>

      <form id="formAuthentication" class="mb-3" action="index.html" method="POST" enctype="multipart/form-data">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %} 
        {% if messages %} 
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger" role="alert">{{message}}</div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success" role="alert">{{message}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <div class="mb-3 form-password-toggle">
          <label class="form-label" for="password">Password</label>
          <div class="input-group input-group-merge">
            <input type="password" id="password1" class="form-control" name="password" placeholder="············" aria-describedby="password">
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
          </div>
        </div>

        <div class="mb-3 form-password-toggle">
            <label class="form-label" for="password">Password confirmation</label>
            <div class="input-group input-group-merge">
              <input type="password" id="password2" class="form-control" name="password" placeholder="············" aria-describedby="password">
              <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
            </div>
          </div>

        
          <button type="submit" class="btn btn-primary me-2">Save changes</button>
          <button type="reset" onclick="goBack()" class="btn btn-outline-secondary">Cancel</button>
      </form>

      
    </div>
  </div>

</div>
</div>

{% endblock content %}

{% block custom_js %}

<script>
    function goBack() {
        window.history.back();
    }
    </script>

{% endblock custom_js %}