{% extends 'shippercompany/base.html' %}
{% load static %}

{% block content %}
      <div class="content-wrapper">
            <div class="page-header">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'shippercompany' %}">Главная</a></li>
                </ol>
              </nav>
            </div>

            {% if messages %} 
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger alert-dismissible" id="message" role="alert">{{message}}
                            <button type="button" class="btn" onclick="closeMessage()">
                                <i class='bx bxs-x-square'></i>
                            </button>
                        </div>
                    {% elif message.tags == "success" %}
                    <div class="alert alert-success alert-dismissible" id="message" role="alert">{{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card shadow-lg">
                  
                  <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center">
                      <h4 class="card-title mb-sm-0">Список заказов</h4>
                      <a href="{% url 'categories_create' %}" class="btn btn-primary btn-rounded my-1 my-sm-0 ml-auto">
                        Добавить
                      </a>
                      <a href="{% url 'categories_clear_all' %}" class="btn btn-primary btn-rounded my-sm-0 ml-1">Очистить все записи</a>
                      
                    </div>
                  </div>

                  <div class="card-body">

                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        {% if categories_list %}

                        

                        <thead>
                          <tr>
                            <th class="font-weight-bold">№</th>
                            <th class="font-weight-bold">Кнопка</th>
                            <th class="font-weight-bold">Наименование категории</th>
                            <th class="font-weight-bold">Регион</th>
                            <th class="font-weight-bold">Тип</th>
                            <th class="font-weight-bold">Действие</th>
                          </tr>
                        </thead>
                        <form method="POST" action="{% url 'categories_delete' %}" id="categories-delete-form">
                          {% csrf_token %}
                          <tbody>
                            {% for values in categories_list %}
                            <tr>
                              <td>{{ values.id }}</td>
                              <td><input type="checkbox" name="selected_ids" id="selected_ids" value="{{ value.id }}"></td>
                              <td><label class="badge font-weight-bold">{{values.Name_of_category}}</label></td>
                              <td><label class="badge badge-warning">{{values.Region}}</label></td>
                              <td><label class="badge badge-info">{{values.Types}}</label></td>
                              <td class="edit-delete-icons">
                                <a href="{% url 'categories_update' values.id %}"><i class="fa fa-pen-square"></i></a> |
                                <a href="{% url 'categories_delete' values.id %}" class="text-danger"><i class="fa fa-trash"></i></i></a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          <button type="submit" class="btn btn-danger btn-rounded mb-2">Удалить выбранные записи</button>
                        </form>

                        {% else %}
                        <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <div class="card card-secondary">
                              <span class="card-body d-lg-flex align-items-center">
                                <p class="mb-lg-0">Нет активных записей</p>
                              </span>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </table>
                    </div>
            

                    {% if is_paginated %}
                    <div class="d-flex mt-4 flex-wrap">
                      <nav class="ml-auto">
                      
                        <ul class="pagination separated pagination-info">
                          <li class="page-item"><a class="page-link">{{page_obj.number}} из {{page_obj.paginator.num_pages}}</a></li>
                          {% if page_obj.has_previous %}
                              <li class="page-item"><a href="?page=1" class="page-link">Начало</a></li>
                              <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link"><i class="fa fa-arrow-left"></i> Назад</a></li>
                          {% endif %}
                          
                          {% if page_obj.has_next %}
                              <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link"><i class="fa fa-arrow-right"></i> Вперед</a></li>
                              <li class="page-item"><a href="?page={{page_obj.paginator.num_pages}}" class="page-link">Конец</a></li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                    {% endif %}

                    
                  </div>
                </div>
              </div>
            </div>
      </div>
          <!-- content-wrapper ends -->
{% endblock content %}

{% block custom_js%}

{% endblock custom_js %}