{% extends 'shippercompany/base.html' %}
{% load static %}
{% block content %}

{% url 'createorder' as url_path %}
{% url 'orders_all' as orders_all %}

{% if messages %} 
{% for message in messages %}
    {% if message.tags == "error" %}
        <div class="alert alert-danger alert-dismissible" id="message" role="alert">{{message}}
            <button type="button" class="btn" onclick="closeMessage()">
                <i class='bx bxs-x-square'></i>
            </button>
        </div>
    {% elif message.tags == "success" %}
    <div class="alert alert-success alert-dismissible" id="message" role="alert">{{message}}
        <button type="button" class="btn" onclick="closeMessage()">
            <i class='bx bxs-x-square'></i>
        </button>
    </div>
    {% endif %}
{% endfor %}
{% endif %}

<div class="m-5">
    <div class="page-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'shippercompany' %}">Главная</a></li>
          <li class="breadcrumb-item"><a href="{{orders_all}}">Заказы</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% if request.path == url_path %}Create order{% else %}Update order {% endif %}</li>
        </ol>
      </nav>
    </div>

    <div class="col-xl-12">
      <h6 class="text-muted">Cargo form</h6>
      <div class="nav-align-top mb-4">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-box" aria-controls="navs-top-box" aria-selected="true">Box</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-container" aria-controls="navs-top-container" aria-selected="false">Container</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-order" aria-controls="navs-top-order" aria-selected="false">Order</button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="navs-top-box" role="tabpanel">
            <form action="{% url 'createorder' %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" name="form1_submit">Отправить форму 1</button>
            </form>
          </div>
          <div class="tab-pane fade" id="navs-top-container" role="tabpanel">
            <form action="{% url 'createorder' %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" name="form2_submit">Отправить форму 2</button>
            </form>
          </div>
          <div class="tab-pane fade" id="navs-top-order" role="tabpanel">
            <form method="post" action="{% url 'createorder' %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" name="form3_submit">Отправить форму 3</button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>


{% endblock content %}

{% block custom_js%}


{% endblock custom_js %}