{% load static %} 
<!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static '/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static '/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static '/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static '/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static '/assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static '/assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static '/assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static '/assets/js/dashboards-analytics.js' %}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <script>

        function closeMessage() {
            var message = document.getElementById('message');
            message.style.display = 'none';
          }

    </script>

    <script>
        const searchInput = document.getElementById('searchInput');
        const searchSuggestions = document.getElementById('search-suggestions');
        console.log("Worked")
        searchInput.addEventListener('input', function() {
          const query = this.value;
          if (query.length >= 3) {
            const url = '/search/suggestions/?query=' + encodeURIComponent(query);
            fetch(url)
              .then(response => response.json())
              .then(data => {
                searchSuggestions.innerHTML = '';
                data.suggestions.forEach(suggestion => {
                    const suggestionItem = document.createElement('a');
                    suggestionItem.textContent = suggestion;
                    suggestionItem.classList.add('suggestion-item');
                    suggestionItem.href = '/order-detail/' + encodeURIComponent(suggestion);
                    searchSuggestions.appendChild(suggestionItem);
                  });    
              })
              .catch(error => {
                console.error('Error:', error);
              });
          } else {
            searchSuggestions.innerHTML = '';
          }
        });
      </script>